.Characters{
    display: flex;
    flex-direction: column;
}
.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    place-content: center;
    gap: 26px;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 40px;
}
.Favorites-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    place-content: center;
    gap: 26px;
    width: 100%;
    padding-top: 5vh;
}
.character-title{
    text-align: center;
    font-size: 35px;
    margin-top:3vh;
    padding: 5px;
    background-color: #A5C29F;
    width: 200px;
    align-self: center;
    border-radius: 15px;
}
.div-container-fav{
    display: flex;
    flex-direction: column;
}
.search-input-container{
    display: flex;
    justify-content:center;
}
.search-input-container input{
    margin-top:30px;    
    padding: 10px 30px;
    background-color: #A5C29F;
    border-radius: 10px;
    border: 2px solid #006B60;
    font-size: 20px;
    text-align: center;
}
