.card-fav {
    width: 200px;
    min-height: 200px;
    max-height: 300px;
    border: 2px solid black;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px #458871;
}
.img-container-fav{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70%;
}
.img-container-fav img{
    width: 100%;
    height: 100%;
    object-fit: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom:1px solid black;
}
.text-container-fav{
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: #A5C29F;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-container-fav h2{
    font-size:20px;
}
.btn-del-fav{
    background-color: #D2DFBD;
    padding: 1px 7px;
    border-radius: 8px;
    border: 1px solid black;
    margin:5px 0;
    cursor: pointer;
    font-size:12px;
}
