.Characters{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    place-content: center;
    gap: 26px;
    width: 100%;
    padding-top: 5vh;
}
.Favorites-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    place-content: center;
    gap: 26px;
    width: 100%;
    padding-top: 5vh;
}
.character-title{
    text-align: center;
    font-size: 35px;
    margin-top:3vh;
    padding: 5px;
    background-color: #A5C29F;
    width: 200px;
    align-self: center;
    border-radius: 15px;
}
.div-container-fav{
    display: flex;
    flex-direction: column;
}